<div id="map-temp"></div>
<section id="search-form">
  <div class="cover-photos" *ngIf="siteResources">
    <img [src]="p" *ngFor="let p of siteResources.carouselPhotos" alt="">
  </div>
  <div class="header-cover-container">
    <div class="header">
      <div class="super-heading">
        {{siteResources?.title}}
      </div>
      <div class="small-heading">
        You are a great traveller. Always does.
      </div>
    </div>
    <div class="form-search">
      <div class="tabs">

        <input type="radio" [attr.id]="'tab'+idx" name="tab-control" [checked]="currentActive === idx"
               *ngFor="let i of inventoryTypes, let idx = index">
        <!--<input type="radio" id="tab2" name="tab-control">-->
        <!--<input type="radio" id="tab3" name="tab-control">-->
        <!--<input type="radio" id="tab4" name="tab-control">-->
        <ul class="dragscroll">
          <li [title]="i.name" [class.active]="currentActive === idx" (click)="currentActive = idx"
              *ngFor="let i of inventoryTypes, let idx = index">
            <label [attr.for]="'tab'+idx" role="button"><span>{{i.name}}</span></label>
          </li>
          <!--<li title="Rooms"><label for="tab1" role="button"><span>Rooms</span></label></li>-->
          <!--<li title="Activities"><label for="tab2" role="button"><span>Activities</span></label></li>-->
          <!--<li title="Flights"><label for="tab3" role="button">-->
          <!--<span>Flights</span></label></li>-->
          <!--<li title="Rentals"><label for="tab4" role="button">-->
          <!--<span>Rentals</span></label></li>-->
        </ul>

        <!--<div class="slider">-->
        <!--<div class="indicator"></div>-->
        <!--</div>-->
        <div class="content">
          <section class="search-rooms">
            <form autocomplete="off" [formGroup]="form">
              <div class="input-placeholder">
                <input #searchBox id="search-box" placeholder="&nbsp;"
                       formControlName="keyword"
                       class="blocks-search"/>
                <div class="placeholder">
                  <mat-icon>search</mat-icon>
                  Where are you going?
                </div>
              </div>
              <input autocomplete="false" name="hidden" type="text" style="display:none;">
              <mat-form-field>
                <input matInput placeholder="Check in - Check out" type="text" ngxDaterangepickerMd
                       [autoApply]="true"
                       opens="left"
                       readonly
                       [locale]="{format: 'DD-MM-YYYY'}"
                       startKey="checkIn"
                       endKey="checkOut"
                       formControlName="checkInCheckOut" class="form-control"/>
                <span matSuffix>
                  <i class="far fa-calendar-alt"></i>
                  </span>
              </mat-form-field>
              <choosePassenger>
                <mat-form-field>
                  <input matInput
                         #input
                         readonly
                         placeholder="Adult/Infrant" formControlName="numberOfPax">
                  <span matSuffix>
                    <i class="far fa-user"></i>
                  </span>
                </mat-form-field>
              </choosePassenger>
              <button mat-button mat-raised-button color="primary" class="search-button" (click)="search()">
                Search
              </button>
              <mat-checkbox [disableRipple]="true" formControlName="isTraveliingForWork">I'm travelling for work
              </mat-checkbox>
            </form>
          </section>
        </div>
      </div>
    </div>
    <div class="dot-slider"></div>
  </div>
</section>
<section id="recommended">
  <div class="sort-by">
    <mat-form-field>
      <mat-select [(ngModel)]="selected">
        <mat-option value="">Sort by: Popularity</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-template [ngIf]="!properties.hotelList.length">
    No hotels
  </ng-template>
  <ng-template [ngIf]="properties.hotelList.length">
    <div class="single-hotel" *ngIf="properties.hotelList.length === 1">
      <div class="row-types" *ngFor="let type of properties.properties">
        <div class="type-name"><span>{{type.type}}</span></div>
        <app-place-viewer *ngFor="let p of type.properties" (click)="goDetail(properties.hotelList[0])">
          <img [src]="p.images[0]?.imageUrl || '../../assets/images/no-preview.jpg'" alt="">
          <label name>{{p.name}}</label>
          <label description>{{'From 567$/person' || p.description}}</label>
        </app-place-viewer>
      </div>
    </div>
    <div class="single-city" *ngIf="properties.hotelList.length > 1 && properties.cities.length === 1">
      <div class="row-types" *ngFor="let type of properties.cities[0].properties">
        <div class="type-name"><span>{{type.type}}</span></div>
        <app-place-viewer *ngFor="let p of type.properties" (click)="goDetail(p)">
          <img [src]="p.images[0]?.imageUrl || '../../assets/images/no-preview.jpg'" alt="">
          <label name>{{p.name}}</label>
          <label description>{{'From 567$/person' || p.description}}</label>
        </app-place-viewer>
      </div>
    </div>
    <div class="multiple-city" *ngIf="properties.hotelList.length > 1 && properties.cities.length > 1">
      <div class="lessthan3" *ngIf="properties.cities.length < 3">
        <mat-tab-group class="custom-tabs" [disableRipple]="true">
          <mat-tab [label]="city.name" *ngFor="let city of properties.cities">
            <div class="row-types" *ngFor="let type of city.properties">
              <div class="type-name"><span>{{type.type}}</span></div>
              <app-place-viewer *ngFor="let p of type.properties" (click)="goDetail(p)">
                <img [src]="p.images[0]?.imageUrl || '../../assets/images/no-preview.jpg'" alt="">
                <label name>{{p.name}}</label>
                <label description>{{'From 567$/person' || p.description}}</label>
              </app-place-viewer>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="city-list" *ngIf="properties.cities.length >= 3">
        <div class="tab-like-title">
          Popular Cities
        </div>
        <div class="content">
          <app-place-viewer *ngFor="let c of properties.cities" [hideBackDrop]="true">
            <i class="fas fa-plus-circle" icon (click)="goDetail()"></i>
            <img [src]="c.image || '../../assets/images/no-preview.jpg'" alt="">
            <label name>{{c.name}}</label>
            <label description>{{c.description}}</label>
          </app-place-viewer>
        </div>
      </div>
    </div>
  </ng-template>
  <!--<mat-tab-group class="custom-tabs" [disableRipple]="true">-->
  <!--<mat-tab label="Switzerland">-->
  <!--<div class="list-hotel">-->
  <!--<app-place-viewer *ngFor="let hotel of hotelList">-->
  <!--<img [src]="hotel.photo" alt="">-->
  <!--<label name>{{hotel.name}}</label>-->
  <!--<label description>{{hotel.description}}</label>-->
  <!--</app-place-viewer>-->
  <!--</div>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Germany">-->
  <!--<div class="list-hotel">-->
  <!--<app-place-viewer *ngFor="let hotel of hotelList">-->
  <!--<img [src]="hotel.photo" alt="">-->
  <!--<label name>{{hotel.name}}</label>-->
  <!--<label description>{{hotel.description}}</label>-->
  <!--</app-place-viewer>-->
  <!--</div>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Japan">-->
  <!--<div class="list-hotel">-->
  <!--<app-place-viewer *ngFor="let hotel of hotelList">-->
  <!--<img [src]="hotel.photo" alt="">-->
  <!--<label name>{{hotel.name}}</label>-->
  <!--<label description>{{hotel.description}}</label>-->
  <!--</app-place-viewer>-->
  <!--</div>-->
  <!--</mat-tab>-->
  <!--</mat-tab-group>-->
</section>
<section id="videoPreview">
  <video controls *ngIf="siteResources">
    <source id="mp4" [src]="siteResources.mainVideo" type="video/mp4">
  </video>
  <div class="description">
    <div class="header-content">
      Malak Regency
      Boutique Hotel
    </div>
    <div class="sub-heading">
      Videos section could be used for
      VR tours, hotel promo video etc
    </div>
    <div class="next-button">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>
</section>
<section id="contact">
  <div class="header">Subscribing to emails</div>
  <div class="input-group">
    <input type="text" placeholder="Your email address">
    <button mat-button mat-raised-button class="button-submit">Submit</button>
  </div>
</section>
<!--<section id="contact">-->
<!--<div class="earn-more">-->
<!--<img src="../../assets/images/earnmore.png" alt="">-->
<!--<div class="content">-->
<!--<div class="title">Earn more rewards</div>-->
<!--<div class="input-group">-->
<!--<input type="text" placeholder="Your email address">-->
<!--<button mat-button mat-raised-button class="button-submit">Submit</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="maximise-earning">-->
<!--<img src="../../assets/images/success.jpg" alt="">-->
<!--<div class="content">-->
<!--<div class="title">Maximise your earnings</div>-->
<!--<button mat-button mat-raised-button color="primary">List my room</button>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!-- banner -->
<!--<section id="destination-list">-->
<!--<div class="header">Where you plan to go?</div>-->

<!--<div class="country-list">-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/vietnam.jpg"/>-->
<!--<div class="sub-title">Vietnam</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/cambodia.jpg"/>-->
<!--<div class="sub-title">Cambodia</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/thailand.jpg"/>-->
<!--<div class="sub-title">Thailand</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/singapore.jpg"/>-->
<!--<div class="sub-title">Singapore</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/korean.jpg"/>-->
<!--<div class="sub-title">Korea</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/japan.jpg"/>-->
<!--<div class="sub-title">Japan</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/australia.jpg"/>-->
<!--<div class="sub-title">Australia</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/india.jpg"/>-->
<!--<div class="sub-title">India</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/brazil.jpg"/>-->
<!--<div class="sub-title">Brazil</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
