<div class="tg-wrapper">
    <div class="tg-header-bg "></div>
    <div class="tg-header">
        <div class="tg-header__menu">
            <ul>
                <li><a class="active">Home</a></li>
                <li><a>About Me</a></li>
                <li><a>Tours, Tickets & Packages</a></li>
            </ul>
        </div>
        <div class="tg-header__info">
            <div class="tour-guide">Tour Guide</div>
            <div class="title">{{name}}</div>
            <div class="trabble-co">{{email}} | {{number}}</div>
        </div>
        <div class="tg-header__avatar">
            <img [src]="avatar || '../../assets/images/noimage.jpg'"
                 alt=""
                 width="278"
                 height="278">
        </div>
    </div>
    <div class="tg-content mb-2">
        <router-outlet></router-outlet>
    </div>
    <div class="tg-footer">
        <div class="tg-footer__logo">
            <div class="flex-start">
                <small>Built by</small>
                <div class="sidebar-logo"
                     [routerLink]="['./home-section']">
                    <img src="../../assets/images/trabble-main-logo.svg"
                         alt=""
                         width="60"
                         height="60">
                    <div class="name-logo">TRABBLE</div>
                </div>
            </div>
            <div class="flex-end">
                <img class="fb"
                     src="../../assets/images/facebook-logo.png"
                     alt=""
                     width="24"
                     height="24">
                <img class="ml-1"
                     src="../../assets/images/twitter.png"
                     alt=""
                     width="24"
                     height="24">
                <div class="sidebar-logo ml-1"
                     [routerLink]="['./home-section']">
                    <img src="../../assets/images/trabble-main-logo.svg"
                         alt=""
                         width="36"
                         height="36">
                    <div class="name-logo"><a href="https://www.trabble.co"
                           target="_blank"
                           class="underline-link">www.trabble.co</a></div>
                </div>
            </div>
        </div>
    </div>
</div>