@import "../../../var";


:host /deep/ {
  display: flex;
  .left-list-details {
    width: 65%;
    .hotel-list {
      padding: 25px 0;
      .hotel-items {
        margin-bottom: 25px;
        .hotel-info {
          display: flex;
          border: 1px solid #e2e2e2;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          outline: none;
          &:hover {
            opacity: 1;
            cursor: pointer;
            //border-color: $main-blue;
            background: #fcfcfc;
            img {
              filter: grayscale(0) !important;
              transform: scale(1.2);
            }
          }
          @include hotel-detail
        }
      }
    }
  }
  .right-searching-box {
    flex-grow: 1;
    padding-left: 30px;
    .show-map {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      &:before {
        content: '';
        background: url("../../../assets/images/mapDirections.png");
        display: block;
        width: 100%;
        height: 100%;
        filter: blur(3px);
      }
      button {
        height: 44px;
        width: 150px;
        border-radius: 7px;
        font-size: 18px;
        position: absolute;
      }
    }
    .price-range {
      margin: 18px 0;
      @include box-style;
      display: flex;
      flex-direction: column;
      .limit-value {
        font-size: 14px;
        text-align: right;
      }
    }
    .searching-criteria {
      @include box-style;
      $color-select: #aaa;
      padding-top: 30px !important;
      .search-group {
        margin-bottom: 25px;
        .title {
          font-size: 18px;
          color: #222;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .mat-checkbox-frame, .mat-radio-outer-circle {
          border-color: $color-select;
        }
        .content-select {
          display: flex;
          flex-direction: column;
          line-height: 2.5;
          color: $color-select;
        }
      }
    }
  }
}
