@import "../../../var";
@import '~@angular/material/theming';

:host /deep/ {
  display: flex;
  @include booking-billing-list {

  }
  .booking-confirmed-content-container {
    flex-shrink: 0;
    width: 65%;
    .booking-confirm-title {
      .title {
        font-size: 36px;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        white-space: pre-line;
        line-height: 49px;
      }
      .booking-id {
        color: #9E9E9E;
        font-size: 18px;
        margin: 15px 0 35px 0;
        font-weight: bold;
      }
    }
    .next-todo {
      .title {
        font-size: 18px;
        color: #9e9e9e;
        font-weight: 500;
        line-height: 2;
      }
      .contents {
        display: flex;
        width: 100%;
        line-height: 2;
        border-radius: 10px;
        border: 1px solid #eee;
        align-items: center;
        padding: 25px 0;
        .splitter {
          height: 80px;
          border: 1px solid #eee;
        }
        .content {
          width: 100%;
          flex-grow: 1;
          text-align: center;
          .content-title {
            font-size: 14px;
            color: #9e9e9e;
          }
          button {
            width: 180px;
            height: 45px;
            font-size: 16px;
            letter-spacing: 1px;
            background: #9e9e9e;
            color: #fff;
            box-shadow: none;
            outline: none;
            border-radius: 10px;
            border: none;
            margin: 10px 0 15px 0;
          }
          &.left {

          }
          &.right {
          }
        }
      }
    }
    .more-options {
      .option {
        position: relative;
        background: url("../../../assets/images/riding-bike.jpg");
        background-size: cover;
        background-position: bottom;
        height: 160px;
        background-repeat: no-repeat;
        border: 1px solid #aaa;
        border-radius: 10px;
        margin: 15px 0;
        &:before {
          content: '';
          background: #ffffffbd;
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          border-radius: 10px;
        }
        .option-container {
          border-radius: 10px;
          display: flex;
          position: absolute;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          box-sizing: border-box;
          .group-title {
            flex-grow: 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .small-title {
              font-size: 14px;
              color: #9e9e9e;
            }
            .main-title {
              font-size: 18px;
              font-weight: bold;
              margin-top: 3px;
            }
          }
          .button-option {
            flex-grow: 1;
            text-align: center;
            button {
              display: block;
              width: 200px;
              font-size: 18px;
              line-height: 22px;
              border-radius: 10px;
              color: #fff;
              background: #11C2A1;
              height: 44px;
              font-family: "Nunito Sans", sans-serif;
              font-weight: 500;
              border: none;
              letter-spacing: 1px;
              margin-left: auto;
            }
          }
        }
      }
    }
    .bottom-remarks {
      font-size: 14px;
      color: #9e9e9e;
      margin-top: 20px;
    }
  }

  @include button-dropdown-menu;
}
