<div class="booking-confirmed-content-container">
  <div class="booking-confirm-title">
    <div class="title">Booking is confirmed.
      Thank you.
    </div>
    <div class="booking-id">Booking ID: 311082896</div>
  </div>
  <div class="next-todo">
    <div class="title">Next to do:</div>
    <div class="contents">
      <div class="left content">
        <div class="content-title">Make another booking</div>
        <button>New booking</button>
      </div>
      <div class="splitter"></div>
      <div class="right content">
        <div class="content-title">Find your property</div>
        <button>Directions</button>
      </div>
    </div>
  </div>

  <div class="more-options">
    <div class="option">
      <div class="option-container">
        <div class="group-title">
          <div class="small-title">Need a ride to Airport?</div>
          <div class="main-title">We cater for it</div>
        </div>
        <div class="button-option">
          <button>Book a ride</button>
        </div>
      </div>
    </div>
    <div class="option">
      <div class="option-container">
        <div class="group-title">
          <div class="small-title">Exciting about the new offers around?</div>
          <div class="main-title">We cater for it</div>
        </div>
        <div class="button-option">
          <button>Explore Offers</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-remarks">
    <div>Any cancellation received within 7 days prior to arrival date will incur the full period charge.</div>
    <div>
      Failure to arrive at your hotel or property will be treated as a No-Show and no refund will be given (Property
      Policy).
    </div>
  </div>
</div>
<div class="booking-detail-container">
  <div class="booking-detail">
    <div class="header">
      <div class="title">Your booking</div>
      <div class="amount">3 nights, 1 adult</div>
      <div class="status">Paid</div>
    </div>
    <div class="hotel-detail">
      <div class="hotel-name">{{bookingInfo.hotel.name}}</div>
      <div class="hotel-address">{{bookingInfo.hotel.address}}</div>
    </div>
    <div class="checking-times">
      <div class="check-date">
        <div class="title">Check-in</div>
        <div class="date">
          {{search.checkIn | date}}
        </div>
        <div class="sub-title">until 10:00am</div>
      </div>
      <div class="check-date">
        <div class="title">Check-out</div>
        <div class="date">
          {{search.checkOut | date}}
        </div>
        <div class="sub-title">until 10:00am</div>
      </div>
    </div>
    <div class="booking-detail-list-room">
      <div class="booking-room" *ngFor="let room of bookingDetail.list">
        <div class="name-amount">{{room.roomName}} x {{room.amount}}</div>
        <div class="cost">
          {{room.totalRates | currency: 'USD': '$'}}
        </div>
      </div>
    </div>
    <div class="sub-total">
      <div class="row-total">
        <div class="name">10% VAT</div>
        <div class="value"> {{bookingDetail.vat | currency: 'USD': '$'}}
        </div>
      </div>
      <div class="row-total">
        <div class="name">Discount</div>
        <div class="value"> {{bookingDetail.discount | currency: 'USD': '$'}}
        </div>
      </div>
      <div class="row-total final">
        <div class="name">Total</div>
        <div class="value"> {{bookingDetail.totalAfterVat | currency: 'USD': '$'}}
        </div>
      </div>
    </div>

    <div class="button-group">
      <div class="button">
        <span class="button-title">Manage Booking</span>
        <div class="button-dropdown" tabindex="0"></div>
        <div class="items">
          <div class="button-item">Manage Booking</div>
          <div class="button-item">Print eReceipt</div>
          <div class="button-item">Change Dates</div>
          <div class="button-item">Special Requests</div>
          <div class="button-item">Contact Hotel</div>
          <div class="button-item">Contact Us</div>
        </div>
      </div>
    </div>
  </div>
</div>
