<div class="loading-icon" [class.loading]="isShowLoading">
    <img src="../assets/images/loading.svg" alt="">
</div>
<section class="section-header-banner">
    <header id="header">
        <div class="header-content">
            <a class="logo" (click)="navigateToHome()"><img [src]="siteResources.mainLogo" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="#features">Properties</a></li>
                    <li><a href="#works">Rooms</a></li>
                    <li><a href="#teams">Activities</a></li>
                    <li><a href="#testimonials">Events</a></li>
                    <li><a href="#isShowLoadingdownload">Packages</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
</section>
<router-outlet></router-outlet>
<section id="footer">
    <a class="logo" href="#"><img src="../assets/images/trabble-logo.png" alt=""></a>
    <div class="footer-content">
        <div class="left-routing">
            <div class="routing-row">
                <div class="routing"><span>About</span></div>
                <div class="routing"><span>Help</span></div>
                <div class="routing"><span>Press</span></div>
            </div>
            <div class="routing-row">
                <div class="routing"><span>Feedback</span></div>
                <div class="routing"><span>Careers</span></div>
                <div class="routing"><span>Investors</span></div>
            </div>
        </div>
        <div class="right-address">
            <div class="address">250 North Bridge Rd, Singapore 179101</div>
            <div class="contact">
                <div class="facebook-icon">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="twitter-icon">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="email">hello@trabble.co</div>
            </div>
        </div>
    </div>
    <div class="footer-small-content">
        <div class="nav">
            <span>Terms & Conditions</span> | <span>Privacy Statement</span> | <span>Corporate Contact</span>
        </div>
        <div class="copy-right">
            Copyright © 1996-2018 Trabble.co. All rights reserved.
        </div>
    </div>
</section>