<section class="section-header-banner">
  <header id="header">
    <div class="header-content">
      <a class="logo" (click)="navigateToHome()"><img [src]="siteResources.mainLogo" alt=""></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#features">Properties</a></li>
          <li><a href="#works">Rooms</a></li>
          <li><a href="#teams">Activities</a></li>
          <li><a href="#testimonials">Events</a></li>
          <li><a href="#download">Packages</a></li>
        </ul>
        <!--<div class="user-avatar">-->
          <!--<img src="../assets/images/useravatar.jpeg" alt="">-->
        <!--</div>-->
        <!--<i class="fas fa-bars"></i>-->
        <!--<div class="side-bar-toggle">-->
        <!--<span></span>-->
        <!--</div>-->
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a>

    </div><!-- header content -->
  </header><!-- header -->
</section>
<router-outlet></router-outlet>
<section id="footer">
  <a class="logo" href="#"><img src="../assets/images/trabble-logo.png" alt=""></a>
  <div class="footer-content">
    <div class="left-routing">
      <div class="routing-row">
        <div class="routing"><span>About</span></div>
        <div class="routing"><span>Help</span></div>
        <div class="routing"><span>Press</span></div>
      </div>
      <div class="routing-row">
        <div class="routing"><span>Feedback</span></div>
        <div class="routing"><span>Careers</span></div>
        <div class="routing"><span>Investors</span></div>
      </div>
    </div>
    <div class="right-address">
      <div class="address">250 North Bridge Rd, Singapore 179101</div>
      <div class="contact">
        <div class="facebook-icon">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="twitter-icon">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="email">hello@trabble.co</div>
      </div>
    </div>
  </div>
  <div class="footer-small-content">
    <div class="nav">
      <span>Terms & Conditions</span> | <span>Privacy Statement</span> | <span>Corporate Contact</span>
    </div>
    <div class="copy-right">
      Copyright © 1996-2018 Trabble.co. All rights reserved.
    </div>
  </div>
</section>
<!-- banner -->
<!--<section id="destination-list">-->
<!--<div class="header">Where you plan to go?</div>-->

<!--<div class="country-list">-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/vietnam.jpg"/>-->
<!--<div class="sub-title">Vietnam</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/cambodia.jpg"/>-->
<!--<div class="sub-title">Cambodia</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/thailand.jpg"/>-->
<!--<div class="sub-title">Thailand</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/singapore.jpg"/>-->
<!--<div class="sub-title">Singapore</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/korean.jpg"/>-->
<!--<div class="sub-title">Korea</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/japan.jpg"/>-->
<!--<div class="sub-title">Japan</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/australia.jpg"/>-->
<!--<div class="sub-title">Australia</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/india.jpg"/>-->
<!--<div class="sub-title">India</div>-->
<!--</div>-->
<!--<div class="country-item">-->
<!--<img class="small-avatar" src="../assets/images/brazil.jpg"/>-->
<!--<div class="sub-title">Brazil</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
