<div class="fun-outgoing-and-a">“Fun, Outgoing and Adventurous! I am actually shy by nature, but I do warm up to people quickly! “</div>
<div class="flex-row mb-2">
    <div class="flex-col-4">
        <img src="../../assets/images/useravatar.jpeg" alt="" class="img">
    </div>
    <div class="flex-col-4">
        <img src="../../assets/images/useravatar.jpeg" alt="" class="img">
    </div>
    <div class="flex-col-4">
        <img src="../../assets/images/useravatar.jpeg" alt="" class="img">
    </div>
</div>
<div class="mini-title mb-2">
    About
</div>
<div class="flex-row">
    <div class="flex-col-6">
        <div class="title-2 mb-1">
            Wherever you are, most welcome.
        </div>
        <div class="description">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing faucibus sem. Nulla dapibus. sed magna ac, convallis faucibus sem. Nulla at lorem ac arcu mattis dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing faucibus sem. Nulla dapibus. sed magna ac, convallis faucibus sem. Nulla at lorem ac arcu mattis dapibus.</div>
            <br>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing faucibus sem. Nulla dapibus. sed magna ac, convallis faucibus sem. Nulla at lorem ac arcu mattis dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing faucibus sem. Nulla dapibus. sed magna ac, convallis faucibus sem. Nulla at lorem ac arcu mattis dapibus.</div>
            <br>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing faucibus sem. Nulla dapibus. sed magna ac, convallis faucibus sem. Nulla at lorem ac arcu mattis dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing faucibus sem. Nulla dapibus. sed magna ac, convallis faucibus sem. Nulla at lorem ac arcu mattis dapibus.</div>
        </div>
    </div>
    <div class="flex-col-6">
        <div class="pl-5">
            <div class="flex-row">
                <div class="flex-col-6">
                    <div class="mini-title">Specialization</div>
                    <ul class="spot-ul">
                        <li>Food & Beverage</li>
                        <li>Historical & Cultural</li>
                        <li>Outdoor & Sightseeing</li>
                    </ul>
                </div>
                <div class="flex-col-6">
                    <div class="mini-title">Languages</div>
                    <ul class="spot-ul">
                        <li>English</li>
                        <li>Mandarin</li>
                        <li>Japanese</li>
                        <li>Indonesian</li>
                    </ul>
                </div>
            </div>
            <div class="mini-title mt-2">
                Affiliations & Recognition
            </div>
            <div class="flow-row d-table">
                <div class="flex-col-4 inline-flex flex-center">
                    <div class="oval-item">
                        <img src="../../assets/images/useravatar.jpeg" alt="" class="img-75 img-oval">
                        <div class="name">Selina Gorson</div>
                        <small class="time">Joined 5 years</small>
                    </div>
                </div>
                <div class="flex-col-4 inline-flex flex-center">
                    <div class="oval-item">
                        <img src="../../assets/images/useravatar.jpeg" alt="" class="img-75 img-oval">
                        <div class="name">Selina Gorson</div>
                        <small class="time">Joined 5 years</small>
                    </div>
                </div>
                <div class="flex-col-4 inline-flex flex-center">
                    <div class="oval-item">
                        <img src="../../assets/images/useravatar.jpeg" alt="" class="img-75 img-oval">
                        <div class="name">Selina Gorson</div>
                        <small class="time">Joined 5 years</small>
                    </div>
                </div>
                <div class="flex-col-4 inline-flex flex-center">
                    <div class="oval-item">
                        <img src="../../assets/images/useravatar.jpeg" alt="" class="img-75 img-oval">
                        <div class="name">Selina Gorson</div>
                        <small class="time">Joined 5 years</small>
                    </div>
                </div>
                <div class="flex-col-4 inline-flex flex-center">
                    <div class="oval-item">
                        <img src="../../assets/images/useravatar.jpeg" alt="" class="img-75 img-oval">
                        <div class="name">Selina Gorson</div>
                        <small class="time">Joined 5 years</small>
                    </div>
                </div>
                <div class="flex-col-4 inline-flex flex-center">
                    <div class="oval-item">
                        <img src="../../assets/images/useravatar.jpeg" alt="" class="img-75 img-oval">
                        <div class="name">Selina Gorson</div>
                        <small class="time">Joined 5 years</small>
                    </div>
                </div>
            </div>
            <div class="more flex-center mt-1">+120 more</div>
        </div>
    </div>
</div>