<div class="fun-outgoing-and-a">“{{shortSelfDescription}}“</div>
<div class="flex-row mb-2">
    <div class="flex-col-4" *ngFor="let image of images;">
        <img [src]="image" alt="" class="img">
    </div>
</div>
<div class="mini-title mb-2">
    About
</div>
<div class="flex-row">
    <div class="flex-col-6">
        <div class="title-2 mb-1">{{aboutTitle}}</div>
        <div class="description" [innerHTML]="aboutDescription">
        </div>
    </div>
    <div class="flex-col-6">
        <div class="pl-5">
            <div class="flex-row">
                <div class="flex-col-6">
                    <div class="mini-title">Specialization</div>
                    <ul class="spot-ul">
                        <li *ngFor="let specialization of specializations;">{{specialization}}</li>
                    </ul>
                </div>
                <div class="flex-col-6">
                    <div class="mini-title">Languages</div>
                    <ul class="spot-ul">
                        <li *ngFor="let language of languages;">{{language}}</li>
                    </ul>
                </div>
            </div>
            <div class="mini-title mt-2">
                Affiliations & Recognition
            </div>
            <div class="flow-row d-table" *ngIf="affiliationsRecognitions && affiliationsRecognitions.length > 0">
                <div class="flex-col-4 inline-flex flex-center" *ngFor="let affiliationsRecognition of affiliationsRecognitions.slice(0, 6);">
                    <div class="oval-item">
                        <img [src]="affiliationsRecognition.image" alt="" class="img-75 img-oval">
                        <div class="name">{{affiliationsRecognition.title}}</div>
                        <small class="time">{{affiliationsRecognition.shortDescription}}</small>
                    </div>
                </div>
            </div>
            <div class="more flex-center mt-1" *ngIf="affiliationsRecognitions && (affiliationsRecognitions.length - 6) > 0">+{{affiliationsRecognitions.length - 6}} more</div>
        </div>
    </div>
</div>