@import "assets/css/responsive";
@import "custom-theme";
@import "assets/lib/slick/slick-theme";
@import "assets/lib/slick/slick";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "var";
html, body {
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: $main-blue;
  border: none;
}

mat-tab-group {
  font-family: 'Nunito Sans', sans-serif !important;
}

.text-center {
  text-align: center;
}
