$main-green: #11c2a1;
$main-blue: #1486FF;

@mixin off-count {
  display: inline-block;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 5px;
  background: #dedede;
  margin-top: 5px;
}

@mixin box-style {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 15px 35px;
}

@mixin score-box {
  padding: 10px 15px;
  border: 1px solid #1486FD;
  border-radius: 8px;
  font-weight: bold;
  color: #1486FE;
}

@mixin hotel-detail {
  .photo {
    width: 22%;
    height: 180px;
    overflow: hidden;
    flex-shrink: 0;
    img {
      filter: grayscale(0.4);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s ease-in-out all;
    }
  }
  .description {
    display: flex;
    padding: 15px 20px;
    flex-grow: 1;
    .left-description {
      display: flex;
      flex-direction: column;
      width: 60%;
      .star-rating {
        color: $main-green;
        font-size: 12px;
      }
      .facilities {
        display: flex;
        color: #aaa;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: auto;
        i {
          margin-right: 18px;
        }
        .more {
          margin-left: -5px;
        }
      }
      .more-features {
        display: flex;
        .feature {
          background: #f5f5f5;
          color: #c5c5c5;
          font-size: 12px;
          display: inline;
          padding: 5px 12px;
          border-radius: 16px;
          margin: 0 5px 0 5px;
        }
        .more {
          letter-spacing: 3px;
        }
      }
    }
    .hotel-name {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 0 0;
    }
    .hotel-address {
      font-size: 10px;
      color: #aaa;
      margin-bottom: 15px;
    }
    .right-description {
      align-items: flex-end;
      flex-grow: 1;
      text-align: right;
      display: flex;
      flex-direction: column;
      .score {
        @include score-box;
      }
      .views-count {
        font-size: 12px;
        margin-top: 10px;
        color: #ccc;
      }
      .price-buttons {
        margin-top: auto;
        display: flex;
        height: 40px;
        .off-count {
          background: #dedede;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          width: 100px;
          display: flex;
          font-size: 14px;
          align-items: center;
          justify-content: center;
        }
        .price {
          background: $main-blue;
          color: #fff;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          width: 100px;
          display: flex;
          font-size: 14px;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@mixin tab-group-font {
  .mat-tab-label {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #000 !important;
    opacity: 0.2 !important;
    min-width: unset;
    &.mat-tab-label-active {
      opacity: 1 !important;
    }
  }
}

@mixin checkbox($color, $size, $font-size) {
  mat-checkbox {
    text-align: center;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $color;
    font-family: "Nunito Sans", sans-serif;
    font-size: $font-size;
    font-weight: 300;
    .mat-checkbox-inner-container {
      width: $size;
      height: $size;
      .mat-checkbox-frame {
        border: 1px solid $color;
      }
    }
  }
}

@mixin booking-billing-list {
  .booking-detail-container {
    flex-grow: 1;
    padding-left: 30px;
    .booking-detail {
      width: 360px;
      margin: auto;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 22px 0 #DBDBDB;
      padding: 30px;
      box-sizing: border-box;
      .header {
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        text-align: center;
        line-height: 2;
        .title {
          font-weight: bold;
          font-size: 18px;
        }
        .amount {
          font-size: 14px;
          color: #9E9E9E;
        }
        .status {
          padding: 5px 20px;
          display: inline-block;
          background: $main-blue;
          color: #fff;
          font-weight: bold;
          border-radius: 6px;
          margin: 10px 0 10px 0;
        }
      }
      .hotel-detail {
        padding: 20px 0;
        border-bottom: 1px solid #eee;
        .hotel-name {
          font-size: 18px;
          font-weight: bold;
          line-height: 2;
        }
        .hotel-address {
          font-size: 14px;
          color: #9e9e9e;
        }
      }
      .checking-times {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #eee;

        .check-date {
          flex-grow: 1;
          text-align: center;
          .title {
            font-size: 12px;
            color: #9E9E9E;
          }
          .date {
            font-weight: bold;
            line-height: 1.5;
          }
          .sub-title {
            font-size: 12px;
            color: #9E9E9E;
          }
        }
      }
      .booking-detail-list-room {
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        .booking-room {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          line-height: 2;
          .name-amount {
            font-size: 14px;
            font-weight: bold;
            padding-right: 10px;
            min-width: 150px;
          }
          .edit {
            font-size: 12px;
            cursor: pointer;
          }
          .cost {
            margin-left: auto;
            font-weight: bold;
            color: #333;
            font-size: 15px;
          }
        }
      }
      .sub-total {
        line-height: 2;
        padding: 15px 0;
        .row-total {
          display: flex;
          font-weight: bold;
          font-size: 14px;
          .value {
            margin-left: auto;
          }
          &.final {
            color: $main-blue;
          }
        }
      }
      .enter-discount-code {
        input {
          height: 49px;
          padding: 10px 20px;
          width: 100%;
          box-sizing: border-box;
          background-color: #F5F5F5;
          box-shadow: none;
          border: none;
          border-radius: 2px;
          outline: none;
          color: #606060;
          text-transform: uppercase;
          @include input-placeholder {
            color: #9E9E9E;
            font-size: 14px;
            text-transform: none;
          }
        }
      }
      .button-apply-discount-code {
        button {
          margin-top: 10px;
          width: 100%;
          height: 44px;
          border-radius: 10px;
          border: none;
          color: #fff;
          cursor: pointer;
          background: $main-green;
          letter-spacing: 1px;
        }
      }
    }
  }
  @content;
}

@mixin button-dropdown-menu {
  .button-group {
    position: relative;
    .button {
      outline: none;
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 1px 1px #eee;
      border: 1px solid #eee;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      -webkit-animation: 0.4s ease-in-out all;
      -o-animation: 0.4s ease-in-out all;
      animation: 0.4s ease-in-out all;
      .button-title {
        flex-grow: 1;
        border-right: 1px solid #ccc;
        height: 100%;
        line-height: 44px;
        padding: 0 15px;
        background: $main-green;
      }

      .button-dropdown {
        height: 100%;
        display: flex;
        align-items: center;
        outline: none;
        background: $main-green;
        &:after {
          content: '';
          border: solid #fff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          margin: 0 15px 0 15px;
        }
        &:hover {
          background: rgba($main-green, 0.7);
        }
        &:focus {
          & ~ .items {
            display: block;
          }
        }
      }
    }
    .items {
      position: absolute;
      display: none;
      width: 100%;
      background: #fff;
      color: #000;
      border: 1px solid #dedede;
      box-shadow: 0 0px 1px 1px #eee;
      top: 45px;
      line-height: 40px;
      border-top: none;
      .button-item {
        cursor: pointer;
        padding: 0 15px;
        font-size: 13px;
        font-weight: bold;
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
        &:hover {
          background: $main-green;
          color: #fff;
        }
      }
    }
  }
}

@mixin main-button {
  background: $main-green;
  height: 44px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  &[disabled] {
    filter: grayscale(0.5);
    opacity: 0.6;
    cursor: not-allowed;
  }
}
