<form autocomplete="off" [formGroup]="form">
  <div class="input-placeholder">
    <input #searchBox id="search-box" placeholder="&nbsp;"
           formControlName="keyword"
           class="blocks-search"/>
    <div class="placeholder">
      <mat-icon>search</mat-icon>
      Where are you going?
    </div>
  </div>
  <input autocomplete="false" name="hidden" type="text" style="display:none;">
  <mat-form-field>
    <input matInput placeholder="Check in" [singleDatePicker]="true" type="text" ngxDaterangepickerMd
           [autoApply]="true"
           opens="left"
           [maxDate]="form.controls['checkOut'].value.startDate? form.controls['checkOut'].value.startDate.clone().add(-1,'day'): null"
           [locale]="{format: 'DD-MM-YYYY'}"
           formControlName="checkIn" class="form-control"/>
    <span matSuffix>
                        <i class="far fa-calendar-alt"></i>
                  </span>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Check out" [singleDatePicker]="true" type="text" ngxDaterangepickerMd
           [autoApply]="true"
           opens="left"
           [minDate]="form.controls['checkIn'].value.startDate?form.controls['checkIn'].value.startDate.clone().add(1,'day'): null"

           [locale]="{format: 'DD-MM-YYYY'}"
           formControlName="checkOut" class="form-control"/>
    <span matSuffix>
                        <i class="far fa-calendar-alt"></i>
                  </span>
  </mat-form-field>
  <choosePassenger>
    <mat-form-field>
      <input matInput readonly #input placeholder="Who" formControlName="numberOfPax">
      <span matSuffix>
                    <i class="far fa-user"></i>
                  </span>
    </mat-form-field>
  </choosePassenger>
  <button mat-button mat-raised-button color="primary" class="search-button" [disabled]="form.invalid" (click)="search()">
    Search
  </button>
</form>
<div class="content-container">
  <router-outlet #o="outlet"></router-outlet>
</div>
