:host /deep/ {
  $font-size: 14px;
  display: block;
  width: var(--main-page-width);
  margin: auto;
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 11px;
      height: 200%;
      box-shadow: 0 4px 9px -1px #e8e8e8;
      pointer-events: none;
    }
    .input-placeholder {
      height: 44px;
      width: 300px;
      position: relative;
      .placeholder {
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        pointer-events: none;
        opacity: 0.6;
        font-size: $font-size;
      }
      .blocks-search {
        box-sizing: border-box;
        width: 100%;
        line-height: 2;
        padding: 8px 15px;
        border-radius: 20px;
        box-shadow: none;
        border: none;
        outline: none;
        background: #f2f2f2;
        font-size: $font-size;
      }
      mat-icon {
        width: $font-size * 1.7;
        height: $font-size * 1.7;
        font-size: $font-size * 1.7;
      }
      input:not(:placeholder-shown) {
        & + .placeholder {
          display: none;
        }
      }
    }
    .search-button {
      width: 200px;
      height: 44px;
      border-radius: 10px;
    }
    mat-form-field {
      width: calc((100% - 650px) / 3);
      margin: 0 10px;
    }
  }
  .content-container {
    padding: 20px 0;
  }
}

