@import "../../../../var";
@import '../../../../../node_modules/@angular/material/theming';

@mixin carousel-style {

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  ngu-carousel {
    height: 100%;
    .ngucarousel {
      height: 100%;
      .ngucarousel-inner {
        height: 100%;
        .ngucarousel-items {
          height: 100%;
        }
      }
      .nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 7px;
        background: #fff;
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        left: 15px;
        @include user-select(none);
        &.hidden {
          display: none !important;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.88;
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.8;
          background: #aaa;
        }
        mat-icon {
          width: 35px;
          height: 35px;
          font-size: 35px;
          color: #999;
        }
        &.right {
          left: unset;
          right: 15px;
        }
      }
    }
  }
}

@mixin star-rating($color) {
  .star-rating {
    color: $color;
    font-size: 18px;
  }
}

:host /deep/ {
  .hotel-general-info {
    display: flex;
    border-radius: 10px;
    height: 380px;
    .info {
      width: 40%;
      flex-shrink: 0;
      background: #f5f5f5;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 30px 40px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      @include star-rating($main-green);

      .hotel-name {
        font-size: 35px;
        font-weight: bold;
        padding-right: 30%;
        margin-top: 10px;
      }
      .price-buttons {
        display: flex;
        height: 35px;
        margin-top: 10px;
        .action {
          background: #dedede;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          width: 100px;
          display: flex;
          font-size: 14px;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
        .price {
          background: $main-blue;
          color: #fff;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          width: 100px;
          display: flex;
          font-size: 14px;
          align-items: center;
          justify-content: center;
        }
      }
      .hotel-nationality {
        margin-top: 20px;
        color: #a2a2a2;
        font-size: 18px;
      }
    }
    .photo {
      flex-grow: 1;
      @include carousel-style;
    }
  }

  .filter-options {
    margin: 20px 0;
    padding: 30px;
    border: 1px solid #f1f0f0;
    border-radius: 10px;
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      .title {
        font-size: 18px;
        font-weight: bold;
      }
      .reset {
        color: #aaa;
        font-size: 14px;
      }
    }
    .criterias {
      display: flex;
      flex-wrap: wrap;
      @include checkbox(#aaa, 14px, 14px);
      mat-checkbox {
        width: 25%;
        line-height: 2;
        text-align: left;
      }
    }
  }
  .hotel-detail-info {
    margin-top: 35px;
    .table-rooms {
      margin-top: 35px;
      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        .room-name-col {
          width: 30%;
        }
        .room-capacity-col {
          width: 15%;
        }
        tbody {
          border-right: 1px solid transparent;
          .header {
            font-size: 14px;
            line-height: 2;
            color: #888;
            font-weight: 400;
            font-family: 'Nunito Sans', sans-serif;
          }
          .row-data {
            td {
              border: 1px solid #eee;
            }
            .room-info-description {
              vertical-align: top;
              padding: 20px;
              .room-name {
                font-size: 18px;
                line-height: 1.5;
                font-weight: bold;
                color: #000;
                margin-bottom: 15px;
              }
              .room-image {
                @include carousel-style;
                img {
                  border-radius: 0 !important;
                }
                ngu-carousel {
                  height: 150px;
                }
                .nav-button {
                  padding: 2px !important;
                  mat-icon {
                    width: 25px !important;
                    height: 25px !important;
                    font-size: 25px !important;
                  }
                }
              }
              .room-description {
                margin-top: 15px;
                line-height: 1.5;
                font-size: 14px;
                color: #a2a2a2;
              }
              .facilities {
                display: flex;
                color: #aaa;
                font-size: 12px;
                margin-bottom: 12px;
                margin-top: 20px;
                align-items: center;
                i {
                  margin-right: 18px;
                }
                .more {
                  margin-left: -5px;
                }
              }
              .more-features {
                display: flex;
                .feature-item {
                  background: #f5f5f5;
                  color: #bbb;
                  font-size: 12px;
                  display: inline;
                  padding: 5px 12px;
                  border-radius: 16px;
                  margin: 0 5px 0 5px;
                }
                .more {
                  letter-spacing: 3px;
                }
              }
            }
            .rate-info {
              padding: 20px;
              .rate-value {
                font-weight: bold;
                color: $main-blue;
                font-size: 18px;
              }
              .rate-type {
                line-height: 2;
                font-size: 13px;
                color: #aeaeae;
              }
              .off-count {
                display: inline-block;
                padding: 5px 12px;
                font-size: 12px;
                border-radius: 5px;
                background: #dedede;
                margin-top: 5px;
              }
            }
            .capacity-count {
              text-align: center;
              vertical-align: text-bottom;
              padding-top: 20px;
              font-size: 14px;
              color: #aaa;
            }
            .select-room-ddl {
              padding: 20px 30px;
            }
            .reserve-button-cell {
              padding: 25px;
              vertical-align: top;
              button {
                @include main-button;
              }
              .text {
                list-style-type: disc;
                font-size: 12px;
                color: #aaa;
                letter-spacing: 1px;
                margin-top: 20px;
                li {
                  list-style-type: disc;
                  margin-bottom: 20px;
                }
              }
            }
          }
          &:not(:first-child) {
            td {
              padding-top: 30px;
            }
          }
        }
      }
    }
    .mansory-container {
      margin: auto;
      .masonry-item {
        //width: 250px;
        margin-bottom: 10px;
        max-width: 400px;
        overflow: hidden;
        &.last {
          cursor: pointer;
          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }
        img {
          transition: all .3s ease-in-out;
          width: 100%;
        }
        &.last:after {
          pointer-events: none;
          content: attr(content);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          color: #fff;
          background: #00000057;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
  .about-container {
    display: flex;
    .about-hotel-info {
      width: 100%;
      flex-shrink: 0;
      padding-top: 30px;
      @include star-rating($main-blue);
      .score-and-review {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
        .score {
          @include score-box;
          font-size: 22px;
          padding: 8px 20px;
          margin-top: 35px;
          margin-bottom: 15px;
        }
        .view-count {
          font-size: 16px;
          color: #aaa;
          margin-left: 15px;
        }
      }
      .hotel-name {
        font-size: 38px;
        letter-spacing: 0.5px;
        font-weight: bold;
        padding-right: 30%;
        margin-top: 10px;
      }
      .hotel-address {
        color: #888;
        font-size: 18px;
        padding: 20px 0 40px 0;
      }
      .description {
        color: #aaa;
        font-size: 14px;
        line-height: 1.5;
        padding: 20px 0 35px 0;
      }

    }
    .map {
      flex-grow: 1;
      padding-left: 40px;
      width: calc(45% - 40px);
    }
  }
  .map-location-viewer {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  .related-results {
    margin-top: 30px;
    .list-related-results {
      margin-top: 15px;
      display: flex;
      overflow: auto;
      padding: 0 10px 10px 0;
      & > * {
        margin-right: 20px;
        flex-shrink: 0;
      }
    }
  }
  .note {
    font-size: 14px;
    line-height: 1.2;
    color: $main-blue;
    padding: 5px;
    font-weight: bold;
    text-align: center;
  }
  .mat-tab-label {
    padding: 0 20px !important;
  }
  .list-amenities {
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
    margin-top: 10px;
    overflow: auto;
    .facility {
      width: 50%;
      color: #888;
      line-height: 2.5;
      display: flex;
      align-items: center;
      i {
        width: 20px;
        text-align: center;
      }
      .label {
        margin-left: 12px;
      }
    }
  }
  .score-and-review {
    display: flex;
    align-items: center;
    margin: 25px 0 10px 0;
    .score {
      @include score-box;
    }
    .view-count {
      font-size: 12px;
      color: #aaa;
      margin-left: 10px;
    }
  }

  .reviews-header {
    display: flex;
    margin-top: 20px;
    .review-scores-container {
      width: 20%;
      .score-and-review {
        flex-direction: column;
        margin: 0;
        align-items: center;
        height: 100%;
        justify-content: center;
        .score {
          font-size: 18px !important;
        }
        .view-count {
          margin: 10px 0 0 0 !important;
          font-size: 14px !important;
        }
      }
    }
    .review-score-detail {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      .score {
        width: 50%;
        padding: 15px 0 10px 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        .score-description {
          width: 15%;
          flex-shrink: 0;
          flex-grow: 0;
          .score-value {
            color: $main-blue;
            font-size: 24px;
          }
          .text {
            font-size: 12px;
          }
        }
        .bar-score {
          width: 250px;
          height: 2px;
          background: #efefef;
          .progress {
            transition: 1s ease all;
            height: 3px;
            min-height: 3px;
            max-height: 3px;
            background: $main-blue;
          }
        }
      }
    }
  }
  .review-filter {
    margin: 10px 0;
    text-align: right;
  }
  .review-list {
    .review-container {
      display: flex;
      padding: 25px 0;
      border-bottom: 1px solid #eee;
      .review-content {
        width: 60%;
        .review-title {
          display: flex;
          align-items: center;
          .score {
            @include score-box;
            padding: 8px 16px !important;
          }
          .title {
            font-size: 22px;
            font-weight: bold;
            color: #333;
            letter-spacing: 0.5px;
            margin-left: 20px;
            .sub-title {
              display: block;
              font-size: 12px;
              font-weight: normal;
              color: #222;
              letter-spacing: unset;
            }
          }
        }
        .review-description {
          font-size: 14px;
          color: #9e9e9e;
          line-height: 1.5;
          margin-top: 10px;
        }
      }
      .review-reply {
        width: 25%;
        padding-top: 54px;
        font-size: 14px;
        padding-left: 20px;
        box-sizing: border-box;
        color: $main-blue;
      }
      .review-owner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
        }
        .reviewer-info-detail {
          text-align: center;
          font-size: 14px;
          margin-top: 10px;
          color: #888;
          width: 60%;
          .name {

          }
          .location {

          }
        }
      }
    }
  }
}
