@import "../../../var";
@import "~@angular/material/theming";

:host /deep/ {
  display: flex;
  .tab-booking-container {
    width: 65%;
    @include checkbox(#aaa, 16px, 16px);
    mat-form-field {
      width: 200px !important;
      margin-right: 25px;
    }
    mat-checkbox {
      text-align: left;
      padding: 20px 0;
    }
    .address-line {
      width: 45%;
      &.short {
        width: 30%;
      }
      mat-form-field {
        width: 100% !important;
      }
    }
    .booking-purpose {
      mat-radio-group {
        line-height: 3;
        mat-radio-button {
          margin-right: 20px;
        }
      }
    }
    .process-payment {
      background: $main-green;
      height: 44px;
      color: #fff;
      width: 260px;
      border-radius: 8px;
      font-size: 16.5px;
      margin-top: 30px;
      &[disabled] {
        filter: grayscale(1);
        cursor: no-drop;
        opacity: 0.6;
      }
    }
  }
  .payment-methods-container {
    display: flex;
    align-items: center;
    height: 180px;
    width: 80%;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 25px auto 15px auto;
    .splitter {
      width: 2px;
      height: 55%;
      background: #ccc;
    }
    .payment-method {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 80%;
      .title {
        font-size: 14px;
        color: #9e9e9e;
        text-align: center;
        padding-bottom: 20px;
      }
      .logo {
        height: 80px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          cursor: pointer;
        }
      }
    }
  }
  .more-payment-option {
    margin-bottom: 20px;
    .payment-option {
      line-height: 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #aaa;
      padding-right: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .splitter {
      width: 100%;
      height: 1px;
      background: #ccc;
      margin: 10px 0;
    }
  }
  .more-requests {
    background-color: #F5F5F5;
    border-radius: 8px;
    height: 112px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    border: none;
    padding: 15px 21px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 19px;
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .note {
    color: #9E9E9E;
    font-size: 14px;
    line-height: 19px;
  }
  @include booking-billing-list {

  }
}
